

.blank1000 {
  height: 1000px;
  width: 100%;
}
.blank500 {
  height: 500px;
  width: 100%;
}

.contentbox{
  height: 1500px;
  width: 100%;
}


.content {
  display: flex;
  flex-direction: row-reverse;
}

.title{
    font-size: 50px;
    letter-spacing: 10px;
    
   
}

.creator{
    font-size: 30px;
    letter-spacing: 5px;
   
    
}

.sticky {
  position: sticky;
  top: 20%;
  
}

p{
    writing-mode: vertical-rl;
}

*{
    font-family: serif;
}


